<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1);">
  <div class="container-ban">
    <h1>Remember <strong>movies</strong> you got <strong>recommended</strong></h1>
    <p>Save your favorite movies to your watchlist!</p>
    <center><a class="btn btn-flat" href="#">Create a watchlist</a></center>
  </div>
</div>
